What do you need help with? REQUIRED
This helps make sure you get the right answer fast.

<select id="ticket_issue_type" name="ticket[issue_type]">
  <option value="">Please select one...</option>
  <option value="login">I can't access my account</option>
  <option value="signup">I have a question before I sign up</option>
  <option value="request">I want to request a feature</option>
  <option value="billing">I have a billing question</option>
  <option value="email">I'm not receiving emails</option>
  <option value="confused">I'm confused about how something works</option>
  <option value="broken">I think something is broken</option>
  <option value="other">Other</option>
</select>
        
What’s your question, comment, or issue? REQUIRED
Share all the details. The more we know, the better we can help you.

Send us a file, screenshot, or document
Hold the shift key to select multiple files.


What’s your email address? REQUIRED
This is where we’ll get back to you. Double check that it’s right.

Enter your email address
What’s your account URL?
Example: https://basecamp.com/8675309

Enter your account URL...
Our current response time is about 6 minutes.
Expect a reply between 8am - 6:30pm Central Time Monday through Friday.

<div class="py-8 px-8 w-full sm:w-full md:w-2/3 lg:w-2/3 mx-auto mt-16">
    
    <div class="mt-4 mb-4">
      <div class="text-2xl font-black leading-tight">What's BlogEmbed again?</div>
      <p class="text-lg">
        BlogEmbed.com is a tool made for influencers and content creators who need the ability to control access to their content and need the same ease-of-use as embedding video content. Just like many content creators who embed their video content on their websites using iFrames, now with BlogEmbed.com you can do the same thing for your blog posts content.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">Why would you want to embed a video or a post on your website?</div>
      <p class="text-lg">To control the access to it. That way you can control the experience and the audience access.</p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">How does it work?</div>
      <p class="text-lg">
        It’s as simple as creating a blog and post, adding a domain that’s permitted to embed it and copy and pasting the provided HTML into your own code.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">Can I cancel at any time?</div>
      <p class="text-lg">
        There's no minimum contract — cancel at any time without penalty or hassle.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">What if I have more questions?</div>
      <p class="text-lg">
        Happy to <a href="/help" class="underline">help</a>, we're all in this together.
      </p>
    </div>

</div>