<table style="margin:0px auto;">
	<tr>
		<td>
			<div style="padding:50px;">
				<div style='display:table;width:600px;'>
					<div>
						<span style="text-align:left;"><%= @body %></span>
					</div>
				</div>
			</div>
		</td>	
	</tr>	
</table>
