<table class="mt-4 table-auto">
  <tr>
    <td>
      <div>
        <span class="uppercase tracking-widest text-xs text-gray-700">domains:</span>
      </div>
    </td>
    <% if blog_permitted_domains %>
      <% blog_permitted_domains.each do |domain| %>
        <td>
          domain["url"]
        </td>
      <% end %>
    <% else %>
      <td>
        
      </td>
    <% end %>
    <td>
      <div id="blog_uid_<%= blog_uid %>_add_permitted_domain_area">
        <%= render 'add_permitted_domain_button', :blog_uid => blog_uid %>
      </div>
    </td>
  </tr>
</table>