<div class="mt-24 mx-auto w-full text-center">
    <strong class="font-bold text-xl">Hmmm...</strong>
    <span class="block sm:inline text-xl"><%= @error_message %></span>
    <a href="/blogs" class="underline">Take me back to my blog list</a>
</div>