<div class="flex">
  
  <div class="flex mt-2 ml-2">
      <a href="/blogs">
        <img src="<%= image_path('logo-1.svg') %>" style="height:45px;"/>
      </a>
      <a href="/blogs">
        <p class="text-2xl mt-1">BlogEmbed</p>
      </a>  
  </div>
  
  <% if cookies[:db_session_token].present? %>

    <div class="absolute inset-y-0 right-0">
          <a href="/logout" class="inline-block text-sm px-4 py-2 leading-none border rounded text-gray-900 border-gray-900 hover:border-transparent hover:text-gray-100 hover:bg-black mt-4 lg:mt-4 mr-4" data-remote="true">log out</a>
    </div> 
  
  <% end %>
  
</div>

<div>
    
  <% if cookies[:db_session_token].present? %>
  
    <div id="main_working_area">
      
      <%= render "list" %>
      
    </div>

  <% else %>
  
    <div class="mt-16">
      
      <p class="text-lg text-gray-800">Hi! Please <a href="/login" class="underline">log in</a> to access your blogs.</p>
      
    </div>

  <% end %>
    
</div>