<div>
    
  <% if cookies[:db_session_token].present? %>
  
    <div id="main_working_area">
      
      <%= render "list" %>
      
    </div>

  <% else %>
  
    <div class="mt-16">
      
      <p class="text-lg text-gray-800">Hi! Please <a href="/login" class="underline">log in</a> to access your blogs.</p>
      
    </div>

  <% end %>
    
</div>