<div class="py-8 px-8 w-full sm:w-full md:w-2/3 lg:w-2/3 mx-auto mt-16">
    
    
    <div class="mt-20 mb-20 w-full mx-auto text-center">
        <div class="text-2xl leading-tight">Hmmm, that didn't seem to work. Stripe returned:</div>
        
        <div class="mt-12 text-center">
            <p class="italic">
                <span class="px-4 py-2 text-xl">"<%= @error_message %>"</span>
            </p>
        </div>
        
        <div class="mt-10 mb-4">
          <div class="text-2xl leading-tight">If you have any questions or concerns, we're here to <a href="/help" class="underline">help</a>.</div>
        </div>
        
        <div class="mt-12">
            <a href="/upgrade">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
                back to the upgrade page
              </button>
            </a>
        </div>
    </div>

</div>