<div class="py-8 px-8 flex w-full sm:w-full md:w-1/2 lg:w-1/2 mx-auto mt-16">
  
  <div class="mx-auto">
    
    <div class="flex -ml-2">
      <img src="<%= image_path('logo-1.svg') %>" style="height:70px;"/>
      <p class="text-5xl">BlogEmbed</p>
    </div>
      
    <p class="text-lg text-gray-800 mt-4">BlogEmbed is a privacy-first blog delivery service. Write them here and embed them privately with iframes on your website. Skip the CMS, keep the control.</p>
    <!--  Made for readbility-first, not meant to let you match your style on your website or mobile device. Reading style 1, reading style 2, etc... -->  
    <div data-controller="signUp" class="mt-8 h-24">
  
      <%= form_tag user_sign_up_path(), 'data-target' => "signUp.form", :method => :post, :id => "signUp_form", :authenticity_token => true, :remote => true do %>
      
      	  <div class="flex">
      	    
      	    <div class="px-3">
      	      
      	      <div class="sm:focus-within:shadow-outline rounded-lg">
                   <div class="max-w-md sm:flex sm:shadow sm:rounded-lg sm:overflow-hidden">
                     <input data-target="signUp.input" type="email" id="dd_emailField" name="email" required="" placeholder="Start with your email" class="shadow sm:shadow-none block w-full rounded-lg focus:border-gray-700 border border-transparent sm:rounded-r-none mb-4 sm:mb-0 text-black sm:flex-1 px-6 py-4 lg:py-5 focus:outline-none">
                     <%= submit_tag "try free", 'data-action' => 'click->signUp#submit', :class => "text-sm shadow sm:shadow-none block w-full sm:w-auto rounded-lg sm:rounded-none focus:outline-none bg-gray-700 hover:bg-gray-900 focus:bg-gray-900 text-white text-shadow uppercase tracking-wide font-semibold px-6 py-4 lg:py-5", :id => "signUp_submit_button" %>
                   </div>
              </div>
      	      
      	    </div>
      	    
      	    <div class="px-3 mt-4">
      	      <a href="/login">
      	        or Log in!
      	      </a>
      	    </div>

      	  </div>
          
    	  <span data-target="signUp.error" id="signUp_error" class="hidden text-red-500 text-sm">
    		  
    	  </span>		   
    	
      <% end %>
    
      <span data-target="signUp.thankyou" class="text-gray-700 py-10 text-xl" id="signUp_thankyou"></span>	
      
      <span class="text-green-500 hidden text-xl" id="server_check">	&#10003;</span>
      
    </div>  
      
  </div>
  
  <div class="mx-auto">
    
    <p class="hidden">
      
      A current trend, influencers and thought leaders are starting to create their own video training content and embed them into their own personal sites to control the context and experience for their students and visitors. 

When I implemented this on my personal website, popular services like Vimeo allowed me to specify which domain was permitted to embed my videos which was great to keep them only viewable under my personal domain name and protected from outside access.

When I wanted to do the same thing for my blog however, I could find a solution that allowed me to embed my posts on my website without sending my visitors to a third party website and I didn’t want to spend money hosting a database or coding a CMS for it. 

So, out of necessity, blogembed.com was born. 

With blogembed.com, you can create your blog content and specify which domain is permitted to host it and embed it on your personal or company website just like you embedded your unlisted and access protected videos. Keeping them private and members-only access.

With blogembed.com, you can publish up to 3 posts for free, beyond that, you’ll need to pay an affordable fee of $5/month you can stop at any time. 

As a small business owner, I understand that costs need to be weighed by value, and I think the value blogembed.com provides is worth that price for access control to content in an experience you also provide to leave you time to focus on the content rather than the technology.

Designed for readability and mobile-friendly use, it’s backed by a scalable and a secure infrastructure you can rely on.
      
    </p>
    
  </div>
  
</div>


