
<div class="py-8 px-8 w-full sm:w-full md:w-1/2 lg:w-1/2 mx-auto mt-16">
    
    
    <div class="mt-4 mb-4">
      <span class="text-3xl font-black">Terms and Conditions of Use</span>
    </div>

    <p class="text-lg mt-2">
        These terms and conditions ("Terms and Conditions") govern your use of this website gorails.com ("Website"). In these Terms and Conditions, BlogEmbed.com is referred to as the "Company", "BlogEmbed", "us", or "we".
    </p>

    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">1. Terms</div>
      <p class="text-lg mt-2">
        By accessing BlogEmbed's web site ("Website" or "BlogEmbed.com" or "Service" or "Services"), you are agreeing to be bound by these Terms and Conditions of Use ("Terms and Conditions"), all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials, services, information, software, and content contained in and on BlogEmbed.com’s web site (collectively referred to herein as the "Services” or "Materials") are protected by applicable copyright and trademark law. BlogEmbed may be referred to herein as "we", "us", or "BlogEmbed.com"
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">2. Use license</div>
      <p class="text-lg mt-2">Permission is granted to use BlogEmbed.com's web site for personal or commercial use. This is the grant of a license, not a transfer of title, and under this license you may not:
      
      <ul class="list-disc mt-4 mb-4 list-inside mt-2">
        <li>Attempt to decompile or reverse engineer any of the code and services.</li>
        <li>Cause to impead service for yourself or others.</li>
        <li>Operate as the provided of this Service to anyone at anytime, in other words, to another person or "mirror" the content or Service on any other server.</li>
      </ul>
      
      <p class="text-lg mt-2">
         This license shall automatically terminate if you violate any of these restrictions and may be terminated by BlogEmbed.com at any time.</p>
      </p>
    
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">3. Disclaimer</div>
      <p class="text-lg mt-2">
        The Services are provided "as is". BlogEmbed.com makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, BlogEmbed.com does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the Sercvices or otherwise relating to such Sercvices or on any web sites linked to this web site.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">4. Limitations</div>
      <p class="text-lg mt-2">
        In no event shall BlogEmbed.com or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the Services, even if BlogEmbed.com or a BlogEmbed.com authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">5. Revisions and Errata</div>
      <p class="text-lg mt-2">
        The Services could include errors, including but not limited to technical, typographical, or photographic. BlogEmbed.com does not warrant that any of the Services are accurate, complete, or current. BlogEmbed.com may make changes to the Services at any time without notice, however BlogEmbed.com does not make any commitment to update the Services.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">6. Links</div>
      <p class="text-lg mt-2">
        BlogEmbed.com has not reviewed all of the sites linked to its web site and is not responsible for the content of any such linked web site. The inclusion of any link does not imply any endorsement by BlogEmbed.com of the linked web site. Use of any such linked web site is at your own risk.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">7. Site Terms of Use Modifications</div>
      <p class="text-lg mt-2">
        BlogEmbed.com may revise these Terms and Conditions of Use at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
      </p>
    </div>


    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">8. Governing Law</div>
      <p class="text-lg mt-2">
        Any claim relating to BlogEmbed.com's web site shall be governed by the laws of New Brunswick, Canada without regard to its conflict of law provisions. General Terms and Conditions applicable to Use of a Web Site.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">9. Refund Policy</div>
      <p class="text-lg mt-2">
        Due to the nature of BlogEmbed.com products (non-tangible digital goods), it is not possible to "return" the product therefore we DO NOT offer refund or exchange after purchase is made. If you are having any issue with the Service, setup, or have any questions, please contact our <a href="/help" class="underline">help team</a> and we will be happy to help resolve the problem.
      </p>
    </div>

    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">10. Termination Policy</div>
      <p class="text-lg mt-2">
        Without prejudice to any remedy that BlogEmbed.com may have against you, BlogEmbed.com may terminate or suspend with immediate effect and without notice your access to and use of this Website and your subscription if:
      </p>
      <ul class="list-disc mt-4 mb-4 list-inside mt-2">
        <li>It reasonably believes that you have breached any of these Terms and Conditions;</li>
        <li>It does not receive timely payment under your subscription;</li>
        <li>It is unable to verify the accuracy or validity of any information provided by you;</li>
        <li>Or it suspects fraudulent, abusive or illegal activity by you.</li>
      </ul>
      <p class="text-lg mt-2">
        Should you object to any of these Terms and Conditions, or any subsequent changes to them, or become dissatisfied with this Website in any way, your only recourse is to immediately discontinue to access or use this Website.
      </p>
      <p class="text-lg mt-2">
        You may notify us of your wish to cancel your subscription at any time by contacting our <a href="/help" class="underline">help team</a>, but your cancellation will not take effect until the end of your current monthly commitement. You will not be entitled to a refund for any subscription fee already paid.
      </p>
    </div>

    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">11. Amendment to these Terms and Conditions</div>
        <p class="text-lg mt-2">
          BlogEmbed.com reserves the right to amend and alter these Terms and Conditions and any Services or Materials or information contained on the Website at any time. In the event these Terms and Conditions are altered BlogEmbed will post the amended Terms and Conditions on this Website. Changes will apply from the date of posting.
        </p>  
        <p class="text-lg mt-2">
          If after the Terms and Conditions and/or the Privacy Policy have been amended or altered you do not agree to their terms, you must stop using this Website.
        </p>
    </div>

</div>