
<div class="py-8 px-8 w-full sm:w-full md:w-1/2 lg:w-1/2 mx-auto mt-16">
    
    
    <div class="mt-4 mb-4">
      <span class="text-3xl font-black">Terms and Conditions of Use</span>
    </div>

    <p class="text-lg">
        These terms and conditions ("Terms and Conditions") govern your use of this website gorails.com ("Website"). In these Terms and Conditions, BlogEmbed.com is referred to as the "Company", "BlogEmbed", "us", or "we".
    </p>

    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">1. Terms</div>
      <p class="text-lg">
        By accessing GoRails, LLC’s web site ("Website" or "GoRails.com"), you are agreeing to be bound by these Terms and Conditions of Use ("Terms and Conditions"), all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials, information, software, and content contained in and on GoRails.com’s web site (collectively referred to herein as the “Materials”) are protected by applicable copyright and trademark law. GoRails may be referred to herein as “we”, “us”, or “GoRails.com”<div class=""></div>BlogEmbed.com is a tool made for influencers and content creators who need the ability to control access to their content and need the same ease-of-use as embedding video content. Just like many content creators who embed their video content on their websites using iFrames, now with BlogEmbed.com you can do the same thing for your blog posts content.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">2. Use license</div>
      <p class="text-lg">Permission is granted to temporarily download one copy of the Materials on GoRails.com's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:

modify or copy the Materials;
use the Materials for any commercial purpose, or for any public display (commercial or non-commercial);
attempt to decompile or reverse engineer any of the Materials;
remove any copyright or other proprietary notations from the Materials; or
transfer the Materials to another person or "mirror" the Materials on any other server.
This license shall automatically terminate if you violate any of these restrictions and may be terminated by GoRails.com at any time. Upon completion of your viewing of these Materials or upon the termination of this license, you must destroy any downloaded Materials in your possession whether in electronic or printed format.</p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">3. Disclaimer</div>
      <p class="text-lg">
        The Materials are provided "as is". GoRails.com makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, GoRails.com does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the Materials or otherwise relating to such Materials or on any web sites linked to this web site.
        </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">4. Limitations</div>
      <p class="text-lg">
        In no event shall GoRails.com or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the Materials, even if GoRails.com or a GoRails.com authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">5. Revisions and Errata</div>
      <p class="text-lg">
        The Materials could include errors, including but not limited to technical, typographical, or photographic. GoRails.com does not warrant that any of the Materials are accurate, complete, or current. GoRails.com may make changes to the Materials at any time without notice, however GoRails.com does not make any commitment to update the Materials.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">6. Links</div>
      <p class="text-lg">
        GoRails.com has not reviewed all of the sites linked to its web site and is not responsible for the content of any such linked web site. The inclusion of any link does not imply any endorsement by GoRails.com of the linked web site. Use of any such linked web site is at your own risk.      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">7. Site Terms of Use Modifications</div>
      <p class="text-lg">
GoRails.com may revise these Terms and Conditions of Use at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.      </p>
    </div>


    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">8. Governing Law</div>
      <p class="text-lg">
Any claim relating to GoRails.com's web site shall be governed by the laws of the State of Missouri without regard to its conflict of law provisions.

General Terms and Conditions applicable to Use of a Web Site.</p>
</div>
    
        <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">9. Refund Policy</div>
      <p class="text-lg">
Due to the nature of GoRails products (non-tangible digital goods), it is not possible to “return” the product therefore we DO NOT offer refund or exchange after purchase is made. If you are having any issue with the file, trouble setup, or have any questions, please submit a support ticket, we will be happy to help resolve the problem.
</p>
</div>

<div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">10. Termination Policy</div>
      <p class="text-lg">
Without prejudice to any remedy that GoRails may have against you, GoRails may terminate or suspend with immediate effect and without notice your access to and use of this Website and your membership if:

It reasonably believes that you have breached any of these Terms and Conditions;
It does not receive timely payment under your subscription;
It is unable to verify the accuracy or validity of any information provided by you;
Or it suspects fraudulent, abusive or illegal activity by you.
Should you object to any of these Terms and Conditions, or any subsequent changes to them, or become dissatisfied with this Website in any way, your only recourse is to immediately discontinue to access or use this Website.

You may notify us of your wish to cancel your membership at any time at https://gorails.com/users/edit, but your cancellation will not take effect until the end of your current commitment period (which may be either a yearly or a monthly period). You will not be entitled to a refund for any membership fee already paid.

</p>


<div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">11. Amendment to these Terms and Conditions</div>
      <p class="text-lg">
GoRails reserves the right to amend and alter these Terms and Conditions and any Materials or information contained on the Website at any time. In the event these Terms and Conditions are altered GoRails will post the amended Terms and Conditions on this Website. Changes will apply from the date of posting.

If after the Terms and Conditions and/or the Privacy Policy have been amended or altered you do not agree to their terms, you must stop using this Website.
</p>
</div>



</div>

</div>