<% if cookies[:db_session_token].present? %>

  <div class="absolute inset-y-0 right-0">
        <a href="/logout" class="inline-block text-sm px-4 py-2 leading-none border rounded text-gray-900 border-gray-900 hover:border-transparent hover:text-gray-100 hover:bg-black mt-4 lg:mt-4 mr-4" data-remote="true">log out</a>
  </div> 

<% end %>

<div class="py-8 px-8 flex w-full sm:w-full md:w-1/2 lg:w-1/2 mx-auto mt-16">
  
  <div class="mx-auto">
    
    <div class="flex -ml-2">
      <img src="<%= image_path('logo-1.svg') %>" style="height:70px;"/>
      <p class="text-5xl">BlogEmbed</p>
    </div>
    
    <% if cookies[:db_session_token].present? %>
    
      <p class="text-lg text-gray-800 mt-4 h-64">Welcome to your dashboard!</p>

    <% else %>
    
      <p class="text-lg text-gray-800 mt-4">Hi! Please <a href="/login" class="underline">log in</a> to access your dashboard.</p>
    
    <% end %>
      
  </div>
  
</div>