<div class="py-8 px-8 flex w-full sm:w-full md:w-1/2 lg:w-1/2 mx-auto mt-16">
  
  <div class="mx-auto">
    
    <div class="flex -ml-2">
      <img src="<%= image_path('logo-1.svg') %>" style="height:70px;"/>
      <p class="text-5xl">BlogEmbed</p>
    </div>
      
    <p class="text-lg text-gray-800 mt-4">Welcome to your dashboard...</p>

  </div>
  
</div>