<div data-controller="infoPopup">
    
  <!--Popup-->
  <div data-target="infoPopup.popup" class="opacity-1 fixed w-full h-full top-0 left-0 flex items-center justify-center">
    
    <div class="absolute w-full h-full bg-gray-900 opacity-50"></div>
    
    <div class="bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="py-4 text-left px-6">
        
        <!--Header-->
        <div class="flex justify-between items-center pb-3">
          
          <p class="text-2xl font-bold"></p>
          
          <a href="#" data-remote="true" data-action="click->infoPopup#close" class="-mr-2">
            <div class="cursor-pointer z-50">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
              </svg>
            </div>
          </a>
          
        </div>

        <!--Text-->
        <div class="text-center">
          <span class="block sm:inline" data-target="infoPopup.message"><%= @pre_link_paywall_message %> <a href="/upgrade" class="block sm:inline underline text-blue-500">upgrade your account</a>.</span>
        </div>

        <!--Footer-->
        <div class="flex justify-center pt-2 mb-4">
          <a href="#" data-remote="true" data-action="click->infoPopup#close" class="inline-block text-sm px-4 py-2 leading-none border rounded text-gray-900 border-gray-900 hover:border-transparent hover:text-gray-100 hover:bg-black mt-4 lg:mt-4 mr-4">close</a>
        </div>
        
      </div>
    </div>
  </div>

</div>